body {
	font-family: "Lato",Georgia,"Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #727272;
	background-color: #fff;
}
.row {
 margin-right:0;
 margin-left:0;
}
.container{
	max-width:980px;
}
header{
	border-top: 11px solid #34b1c0;
	background: #82e8f4 ;
	max-height: 303px;
}
.head{
	margin:0 auto;
	max-height:366px;
	max-width:940px;
}
p{
	font-size:16px;
	padding:10px 0;
}
h1{
	font-size:36px;
	color:#fff;
	font-weight: 800;
}
h2{
	font-size:24px;
	line-height:33px;
}
h3{
	line-height:35px;
}
.top{
	font-weight: 600;
}
.bu{
	font-weight: 900;
	text-decoration: underline;
}
.bblue{
	background: #34b1c0;
	padding:3px 10px 3px 10px;
}
.blue{
	color: #34b1c0;
}
.box-blue{
	font-size:16px;
	font-weight: bold;
	padding: 4px 11px 7px 11px;
	background: #34b1c0;
	margin:15px 25px 0 0;
	border-radius:3px;
	color: #fff;
}
.f18{
	font-size:18px;
	font-weight:bold;
}
.ceklist{
	background:url(../img/ceklist.png) center;
	margin:12px 25px 30px 0;
	width: 32px;
	height: 32px;
}
.box{padding:0 40px;}
strong{font-weight:900;}
#sectionp{	
	margin-top:30px;
}
#sectionp h1{
	margin-bottom:30px;
	line-height: 66px;
}
#sectionp h1 .bblue{
	padding:8px 15px 10px 15px;
}
#section1{
	padding:30px 0;
	margin-top:45px;
}
#section1 p{
	font-weight:800;
	margin-bottom:40px;
}
#section1 h2{
	color:#333435;
	font-weight:900;
	line-height:37px;
}
#yth h2{font-size:18px;font-weight:800;margin-top:30px;}
#section2 .sub,#section4 .sub{
	padding-left:59px;
}
#section3 img{
	margin-bottom:30px;
}
#section4 h2{
	padding: 30px 0 130px 0;
}
#section4 img{
	margin-bottom:30px;
}
/* page2*/
#page2-a{
	background:#4d6069;
	color:#fff;
	z-index:9999;
	position:relative;
	width:100%;
	margin-bottom:20px;
	padding:5px 0 20px 0;
}
#page2-a h2{
	font-weight:normal;
	line-height:31px;
}
#page2-b .title{
	font-weight:bold;
}
#page2-foot{
	background:#efefef;
	margin-top:70px;
	color:#454545;
}
#page2-foot h2{
	font-family: Oswald;
	font-size: 24px;
	font-weight:normal;
}
#page2-foot .col-sm-4{
	padding:0;
}
#page2-foot .book{
	height:265px;
	margin-top:-30px;
	float:left;
}
#page2-foot input[type="text"]{
	margin-top:15px;
	border:1px solid #d8d8d8;
	padding:8px 10px;
	width:100%;
}
#page2-foot input[type="submit"]{
	background:#e0a415;
	border:1px solid #e0a415;
	border-top:5px solid #e0a415;
	border-bottom:5px solid #c38f13;
	border-radius:3px;
	text-align:center;
	padding:3px 0 5px 0;
	color:#fff;
	font-weight:bold;
	margin:14px 0 20px 0;
	width:100%;
	min-width:200px;
}
/* page3*/
#page3 .message-box{
	margin:80px 0 60px 0;
	background:#f9f9f9;
	border:1px solid #f0f0f0;
	padding:30px 50px;
}
#page3 h1{
	color:#333435;
	font-size:48px;
	margin:0;
}
#page3 h2{
	color:#333435;
	font-size:30px;
	font-weight:700;
}
#page3 .amplop{
	width:140px;
	height:58px;
	background:url(../img/amplop.png) center;
	margin:30px 0 10px 0;
}
.no-padding{
	padding:0;
}
.no-padding2{
	padding:10px;
}
footer{
	background:#d8d8d8;
	padding-top:10px;
	color:#626262;	
}
footer p{
	font-family: Open Sans;
	font-size:12px;
}
