.tangaroa_bg { background-color: #021747 }
.sunglow_bg { background-color: #ffc731 }
.light-grey_bg { background-color: #f6f6f6 }
.madison_bg { background-color: #0c2660 }
.cello_bg { background-color: #233763 }
.dark-blue_bg { background-color: #203158 }
.bright-yellow_bg { background-color: #ffcb3e }
.dark-grey_bg { background-color: #424242 }
.pirate-gold_bg{ background-color: #A58800;}
.biscay_bg{ background-color: #1c3967;}
.emperor_bg{ background-color: #555555;}
.prussian-blue_bg{ background-color: #002157;}


.web-orange_txt { color: #efae00 }
.yellow_txt { color: #f2b000 }
.scorpion_txt { color: #616060 }
.dark-grey_txt { color: #424242 }
.brown_txt { color: #910606 }
.endeavour_txt { color: #005aae }
.bright-sun_txt { color: #ffcb3e }
.cloud-burst_txt { color: #203158 }
.white_txt { color: #ffffff }
.grey_txt { color: #8b8a8a }
.black_txt { color: #000 }
.selective-yellow_txt{ color: #ffb400;}
.biscay_txt{ color: #1c3967;}
.yellow-sea_txt{ color: #F8AA01;}
.emperor_txt{ color: #555555;}
.deep-sapphire_txt{ color: #062467;}


.strong{
	font-weight: bold;
}

.border-bottom{
	border-bottom: 1px solid #e1e1e1;
}
.border-bottom_dark{
	border-bottom: 2px solid #a1a1a1;
}

.signup-btn{
	background-color: #ffc731;
	border-bottom: 2px solid #e8a900;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 38px;
	font-weight: bold;
	line-height: 73px;
	max-width: 300px;
	padding: 0 18px;
	width: 100%;
	transition: 250ms;
	cursor: pointer;
}
.signup-btn:hover{
	background-color: #e8a900;
	border-bottom: 2px solid #e8a900;
	color: #fff;
	text-decoration: none;.
}