@media (min-width: 768px){
	.section2 .bright-yellow_bg.black_txt.strong{
		padding-top: 14px;
		font-size: 32px;
		padding-bottom: 14px;
		margin-bottom: 45px;
		margin-top: -55px;
	}
}
@media (max-width: 768px){
	h1{ font-size: 38px !important;}
}
@media (min-width: 992px){
}
@media (min-width: 1200px){
}